---
Checks: >
  -*,
  bugprone*,
  -bugprone-easily-swappable-parameters,
  clang-diagnostic-*,
  misc-*,
  -misc-include-cleaner,
  -misc-const-correctness,
  -misc-no-recursion,
  readability-*,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-named-parameter,
  -readability-avoid-nested-conditional-operator,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg

HeaderFilterRegex: ""
...
