# global things

*~
.#*
*.bak

*.native
*.byte

a.out

_build/
_sbuild/

# HOL4

.HOLMK
.hollogs
*Theory.dat
*Theory.sig
*Theory.sml
*Theory.ui
*Theory.uo

# Coq

*.vo
*.glob
.*.aux

# location specific things

/Riscv.thy
/RiscvAuxiliary.thy
/Riscv_extras.thy
/Riscv_lemmas.thy
/Riscv_types.thy
/riscv.lem
/riscv_types.lem
/riscv_sequential.lem
/riscv_sequential_types.lem
/Riscv_sequential_lemmas.thy
/riscv
/platform
/riscv.c
/riscv_model.c
/riscv_c
/riscv_sim
