{
  "ignorePatterns": [
    {
      "pattern": "^https://isla-axiomatic.cl.cam.ac.uk",
      "reason": "expired certificate"
    },
    {
      "pattern": "^https://gmplib.org",
      "reason": "access issues from github.com"
    },
    {
      "pattern": "^http://www.cl.cam.ac.uk/users/pes20/rmem",
      "reason": "random access issues from github.com CI"
    },
    {
      "pattern": "^http://www.cl.cam.ac.uk/~pes20/sail/overview-sail.png?",
      "reason": "random access issues from github.com CI"
    }
  ]
}
