name: Build and test Lean backend

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  OPAMVERBOSE: 1

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          # Git history is needed for `git describe` in the build to work.
          fetch-depth: 0

      - name: System dependencies (ubuntu)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt install cvc4

      - name: Common setup
        uses: ./.github/actions/sail-setup
        with:
          sail-version: "latest"

      - name: Build the Sail RISCV Model for Lean
        run: |
          eval $(opam config env)
          cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -G Ninja
          cmake --build build/ --target generated_lean_rv64d generated_lean_executable_rv64d

      - name: Use Lean to build the model and report errors
        uses: leanprover/lean-action@v1
        with:
          lake-package-directory: "build/model/Lean_RV64D/"
